/* this css module only contains the classes for the particular blog page not for the blogs collection */

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  margin-top: 13vh;
  padding: 20px 350px;
  box-sizing: border-box;
}

.area {
  width: 100%;
  background-color: white;
  padding: 45px 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.219);
  border-radius: 3px;
  /* border: 1px solid rgba(0, 0, 0, 0.425); */
  display: flex;
  flex-direction: column;
}

.area h1 {
  text-align: center;
  font-size: 50px;
  line-height: 65px;
}

.mainimagecontainer {
  display: flex;
  justify-content: center;
}

.mainimage {
  width: 70%;
  border-radius: 3px;
  margin: 40px 0px;
  box-sizing: border-box;
  background-color: aqua;
  justify-self: center;
  align-self: center;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 20px 200px;
  }

  .mainimage {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 0px 20px;
  }
}

.descriptionarea {
  display: flex;
  flex-direction: column;
}

.descriptionarea p {
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 35px;
  text-align: justify;
  font-weight: 400;
}

.descriptionarea h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.descriptionarea img {
  border-radius: 5px;
  align-self: center;
  width: 50%;
}

/* ---------------------- */
/* client blog page starts */

.blogcontainer {
  width: 100%;
  height: 80vh;
  margin-top: 13vh;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
  justify-self: center;
}

.blogscontainer {
  height: 250px;
  width: 330px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.308);
  transition: 0.2s;
}

.blogscontainer:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.2s;
}

.blogscontainer img {
  aspect-ratio: 16/9;
  width: 330px;
}

.blogscontainer h2 {
  padding: 4px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
}

.blogpage footer {
  position: fixed;
  bottom: 0px;
}

.blogArea {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 100px;
  box-sizing: border-box;
  gap: 40px;
  overflow: scroll;
}
